
#name{
    color: black;
    text-align: center;
    font-family: "Courier New", monospace;
}
#list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
li a:hover {
  background-color: white;
}
#home
{
    width: 400px;
    color: #111;
    font-family: "Courier New", monospace;
    font-size: 25px;
    padding: 30px;;
}
#footer
{
    border-top: 1px solid black ;
}
#about
{
    width: 900px;
    color: #111;
    font-family: "Courier New", monospace;
    font-size: 20px;
    padding: 30px;
}
#contact
{
    width: 500px;
    color: #111;
    font-family: "Courier New", monospace;
    font-size: 20px;
    padding: 30px;
}